<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwpZQvLmcmfcIDvHhs7ygt7y_-InxTjf4</string>
	<key>GCM_SENDER_ID</key>
	<string>420236251518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paytondeveloper.checkintest.CheckInApp</string>
	<key>PROJECT_ID</key>
	<string>checkin-app-b9b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>checkin-app-b9b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420236251518:ios:4930a4fea5d5cba1f5232f</string>
</dict>
</plist>